<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--<bean id="jackson2MessageConverter"-->
          <!--class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>-->
    <!--&lt;!&ndash;rabbit MQ 连接工厂&ndash;&gt;-->
    <!--<rabbit:connection-factory id="connectionFactory"-->
                               <!--channel-cache-size="${rabbitmq.channel.cache.size}"-->
                               <!--username="${rabbitmq.username}"-->
                               <!--password="${rabbitmq.password}"-->
                               <!--host="${rabbitmq.host}"-->
                               <!--port="${rabbitmq.port}"-->
                               <!--virtual-host="${rabbitmq.vhost}"-->
    <!--/>-->


    <!--&lt;!&ndash;通过指定下面的admin信息， 当前producer中的exchange和queue会在rabbitmq服务器上自动生成&ndash;&gt;-->
    <!--<rabbit:admin connection-factory="connectionFactory" />-->

    <!--&lt;!&ndash;定义queue&ndash;&gt;-->
    <!--<rabbit:queue name="${android.push.queue}" durable="true" auto-delete="false" exclusive="false"  />-->
    <!--<rabbit:queue name="${ios.push.queue}" durable="true" auto-delete="false" exclusive="false"  />-->

    <!--<bean id="androidPushMessageListener" class="com.yskj.push.queue.impl.AndroidPushMessageListener"/>-->
    <!--<bean id="iosPushMessageListener" class="com.yskj.push.queue.impl.IOSPushMessageListener"/>-->

    <!--<rabbit:listener-container connection-factory="connectionFactory">-->
        <!--<rabbit:listener ref="androidPushMessageListener" queue-names="${android.push.queue}"></rabbit:listener>-->
        <!--<rabbit:listener ref="iosPushMessageListener" queue-names="${ios.push.queue}"></rabbit:listener>-->
    <!--</rabbit:listener-container>-->


</beans>